---
import Notification from "../components/ui/Notification";
import ToDoList from "../components/ui/ToDoList";
import FormsLayaout from "../layouts/FormsLayaout.astro";
import { getToDoStates } from "../utils/api";

const data = await getToDoStates();
const types = data.data;
---

<FormsLayaout title="U-Trello">
  <slot name="notification">
    {
      data.notification.type && (
        <Notification
          type={data.notification.type}
          text={data.notification.text}
        />
      )
    }
  </slot>

  <div
    class="w-full h-auto p-4 flex flex-wrap sm:flex-nowrap sm:flex-row gap-4"
  >
    {
      types &&
        types.map((state: ToDoState) => {
          return <ToDoList client:only="react" state={state} />;
        })
    }
  </div>
</FormsLayaout>
