---

---

<nav
  class="fixed hover:w-60 w-16 transition-all h-svh border-r border-gray-600 bg-gray-800 pt-28"
>
  <ul class="w-full text-white overflow-hidde p-3">
    <li class="flex flex-row overflow-hidden truncate">
      <a
        href={"/create-todo"}
        class="flex flex-row overflow-hidden truncate gap-4 items-center w-full border border-white rounded-full p-1 min-h-9 min-w-9"
      >
        <img src="/plus.svg" class="" /><span>Crear Todo</span></a
      >
    </li>
  </ul>
</nav>
