---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="U-Trello" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icono.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  input {
    all: unset;
  }
  select {
    all: unset;
  }
  textarea {
    all: unset;
  }

  .success {
    background-color: #15803d;
    color: #f0fdf4;
  }
  .warning {
    background-color: #ca8a04;
    color: #fffbeb;
  }
  .danger {
    background-color: #dc2626;
    color: #fef2f2;
  }
  @keyframes notification {
    0% {
      right: -50%;
    }
    10% {
      right: 1rem;
    }
    90% {
      right: 1rem;
    }

    100% {
      right: -50%;
    }
  }
  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }
  .loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #9ca3af;
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }

  .notification {
    animation: 5s notification both;
  }
</style>
